body {
    background-color: #F3F6FB;

    font-family: "PT Root UI", sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
    color: var(--text-color);
}