@import '~normalize.scss/normalize';

@import './reset';
@import './variables';
@import './fonts';
@import './core';

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 100%;
    margin: auto;
    padding: 0 294px
}

.button--primary {
    border-radius: 16px;
    background-color: $blue;

    font-size: 14px;
    font-weight: 700;
    color: $white;
}

.button--secondary {
    border-radius: 16px;
    border: 1px solid $black;
    background-color: $white;

    font-size: 14px;
    font-weight: 700;
    color: $black;
}

@import 'blocks/header';
@import 'blocks/breadcrumbs';
@import 'blocks/main-section';
@import 'blocks/credit';